@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Righteous&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.ck-editor__editable_inline {
  max-height: 500px;
  min-height: 300px;
}

@tailwind base;
@tailwind components;
.logo {
    @apply font-righteous text-3xl font-bold;
}
.main-logo-text {
    @apply tracking-widest text-red-700;
}
.sub-logo-text {
    @apply tracking-widest text-gray-400;
}
.toast-success {
  @apply bg-green-700;
}
@tailwind utilities;